package components

templ Header() {
	<header>
		<h1 class="text-3xl font-bold underline text-pink-500">Reports</h1>
		<div class="links">
			<a href="/sign-up" class="sign-up">Sign up</a>
			<a href="/login" class="login">Login</a>
		</div>
	</header>
}
