package dashboard

import "github.com/kerneels94/reports/view/layout"

templ DashboardPage() {
	@layout.Base() {
		@generateReport()
		<h2>DashboardPage</h2>
		<button type="button" hx-post="/api/logout" hx>Logout</button>
		// Tabs
		<div class="links">
			<button type="button" hx-get="/api/dashboard/users" hx-target="#dashboard-content">Users</button>
		</div>
		// Content
		<div id="dashboard-content"></div>
	}
}
